*.db
Inject_Test
Debug
Release
*/Debug
*/Release
packages/
*.opendb
*.m4a
grid-server/loopback-capture.opus
*.bmp
*.png
*.o
*.so
.vs
.vs/*
*.suo
*.264
*.psess
*.vsp
*.ipch
x64/
CMakeCache.txt
*/CMakeCache.txt
CMakeFiles
*/CMakeFiles
*/Makefile
.idea/
bin
*/bin
cmake_install.cmake
*/cmake_install.cmake
*.cbp
Makefile
makefile
*/Makefile
*/makefile
install_manifest.txt
cmake-build-debug/*
build/*